#search-container{
    padding: 150px 0px 0px 0px;
    font-family: 'Karla', sans-serif;
}

#search-input{
    padding: 3px;
    border: solid 1px #1da1f2;
    border-radius: 6px;
    background-color: #fff;
}

#search-input input{
    border: 0;
    box-shadow: none;
}

#search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#search-input .glyphicon-search{
    font-size: 23px;
}

#search-input .input-group-addon{
    margin: 0 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #1da1f2;
    padding: 0 0 0 4px;
}
