body{
    font-family: 'PT Sans', sans-serif;
	padding-top: 80px;
}

.img-circle {
    border-radius: 0px;
	width: 70px;
	height: 80px;
}

#logo-bar {
    margin: auto;
	text-align: center;
	padding-top: 20px;
}

#jumbo-container {
    width: 60%;
	text-align: center;
	margin: auto;
	padding-top: 40px;
}

#link-container {
    margin: auto;
	text-align: center;
	margin: auto;
	padding-top: 40px;
}

#geomap-container {
    padding-top: 100px;
	text-align: center;
}

#geo-map { 
    width : 60%;
    height: 600px; 
    border: 1px solid #ccc;
    margin: auto;
}

#search-input {
    padding-bottom: 20px;    
}

#progress {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 400px;
    top: 300px;
    width: 200px;
    height: 20px;
    margin-top: -20px;
    margin-left: -100px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #76A6FC;
    border-radius: 4px;
}

#treemap-container {
    width: 60%;
    margin: auto;
	padding-top: 50px;
	text-align: center;
}

#chart-div {
    border: 1px solid #ccc;
}

#ticker-container {
    margin: auto;
	width: 60%;
	color: #00aced;
	padding-top: 50px;
}

#ticker-header {
    background-color: #B5D0D0;
}

#twitter-logo {
    float: left;
	padding-right: 10px;
	padding-top: 8px;
}

#timeseries-container {
    padding-top: 50px;
}

#ts-dropdown {
    padding: 10px;
	color: #000;
}
