<!DOCTYPE html>
<html ng-app="PartyParrots">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/static/css/bower.css">
        <link rel="stylesheet" type="text/css" href="/static/css/app.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.4/dist/MarkerCluster.css">
 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
        <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.4/dist/leaflet.markercluster.js"></script>
        <script type="text/javascript" src="http://leaflet.github.io/Leaflet.markercluster/example/realworld.388.js"></script>
        <title>The Beautiful Game</title>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/heatmap.js"></script>
        <script src="https://code.highcharts.com/modules/treemap.js"></script>

    </head>
    <body ng-controller="IndexController as ctrl">
        {% block main %}
        {% endblock %}
        <script type="text/javascript" src="/static/js/bower.min.js"></script>
        <script type="text/javascript" src="/static/js/app.js"></script>
        <script type="text/javascript" src="/static/js/service/backend.service.js"></script>
        <script type="text/javascript" src="/static/js/controllers/IndexController.js"></script>
        <script type="text/javascript" src="/static/js/controllers/GeomapController.js"></script>
    </body>
</html>
