{% extends "base.html" %}

{% block main %}

<div id="container" ng-controller="TreemapController as ctrl">
    <div id="treemap-container">
        <div id="chart_div"></div>
    </div>
</div>
<div id="geomap-container" ng-controller="GeomapController as ctrl">
    <div id="geo-map"></div>
</div>

<div ng-controller="TickerController as ctrl">
    <ul ticker>
      <li ng-repeat="item in ctrl.tickerItems" class="item-{[{$index}]}">
        {[{ item.tweet }]}
      </li>
    </ul>
</div>

<div ng-controller="TimeSeriesController as ctrl">


    <select ng-model="ctrl.selectedClub" ng-options="club.club as club.club for club in ctrl.clubs">
   </select> 

    <div id="game-dates-composed"><span class="display-games" <style position=absolute left=100px top=150px></style></span></div>
    <div id="scrubber-chart"></div>
    <div id="game-table"></div>
    <div id ="selectclub1"></div>
    <div id ="selectclub2"></div>
</div>

{% endblock %}
