{% extends "base.html" %}

{% block main %}

<div id="link-container">
   <a href="#treemap"><button type="button" class="btn btn-primary btn-lg">Treemap Visualization</button></a>
   <a href="#geomap"><button type="button" class="btn btn-primary btn-lg">Geomap Visualization</button></a>
   <a href="#timeseries"><button type="button" class="btn btn-primary btn-lg">Timeseries Visualization</button></a>
</div>
<div id="container" ng-controller="TreemapController as ctrl">
    <div id="treemap-container"><a id="treemap">
        <div id="chart_div"></div>
    </a><h4>A visual representation of the total number of tweets between January 2016 - April 2017 for popular soccer teams</h4><p>Click on the nodes of the data treemap to drill down. Right-click to move one level up. </p>
	</div>
</div>
<div id="geomap-container" ng-controller="GeomapController as ctrl"><a id="geomap">
   <div class="container" id="search-container">
	<div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div id="search-input">
                <div class="input-group">
                    <input type="text" class="form-control input-md" placeholder="Search" ng-model="searchField"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-md" type="button" ng-click="search(searchField)">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
    </div>
    <div id="geo-map"></div></a>
	<h4>A map of all the geotagged tweets between January 2016 - April 2017 containing hashtags of popular soccer teams</h4><p>Search powered by Elasticsearch</p>
</div>

<div id="ticker-container" ng-controller="TickerController as ctrl">
  <div class="panel panel-default">
    <div class="panel-heading" id="ticker-header">
      <div><i class="fa fa-twitter fa-2x" style="color:#00aced"></i></div>
	  <h4><p class="label label-info">Live Tweets!</p></h4>
    </div>
  <div class="panel-body">
        <ul ticker>
          <li ng-repeat="item in ctrl.tickerItems" class="item-{[{$index}]}">
            {[{ item.tweet }]}
          </li>
        </ul>
		</div>
</div>
</div>


<div ng-controller="TimeSeriesController as ctrl"><a id="timeseries">
    <div id="timeseries-container">
    <select ng-model="ctrl.selectedClub" ng-options="club.club as club.club for club in ctrl.clubs">
    </select></div> 
    <div id="game-dates-composed"><span class="display-games"></span></div>
    <div id="scrubber-chart"></div>
	<div id="timeseries-container-2">
    <div id="game-table"></div>
    <div id ="selectclub1"></div>
    <div id ="selectclub2"></div></a>
	</div>
</div>

{% endblock %}
