{% extends "base.html" %}

{% block main %}

<div id="container" ng-controller="TreemapController as ctrl">
    <div id="treemap-container">
        <div id="chart_div"></div>
    </div>
</div>
<div id="geomap-container" ng-controller="GeomapController as ctrl">
   <div class="container" id="search-container">
	<div class="row">
        <div class="col-md-offset-9 col-md-4">
            <div id="search-input">
                <div class="input-group col-md-8">
                    <input type="text" class="form-control input-sm" placeholder="Search" ng-model="searchField"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-sm" type="button" ng-click="search(searchField)">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
    </div>
    <div id="geo-map"></div>
</div>

<div ng-controller="TickerController as ctrl">
    <ul ticker>
      <li ng-repeat="item in ctrl.tickerItems" class="item-{[{$index}]}">
        {[{ item.tweet }]}
      </li>
    </ul>
</div>

<div ng-controller="TimeSeriesController as ctrl">


    <select ng-model="ctrl.selectedClub" ng-options="club.club as club.club for club in ctrl.clubs">
   </select> 

    <div id="game-dates-composed"><span class="display-games" <style position=absolute left=100px top=150px></style></span></div>
    <div id="scrubber-chart"></div>
    <div id="game-table"></div>
    <div id ="selectclub1"></div>
    <div id ="selectclub2"></div>
</div>

{% endblock %}
